.blog-post-row {
	margin: 20px 0;
	padding: 10px 0;
	border-bottom: 1px solid #ccc;
	overflow: hidden;
}

.blog-info-col {
	float: left;
	width: 100px;
	text-align: right;
	margin-right: 20px;
}

.blog-info-col span {
	display: block;
}

.blog-info-date-container {
	margin-bottom: 5px;
	padding-bottom: 5px;
	border-bottom: 1px solid #ccc;
}

.blog-info-date-container span {
	display: block;
	font-size: 20px;
	line-height: 24px;
}

.blog-info-date-container .blog-info-day,
.blog-info-date-container .blog-info-year {
	font-size: 34px;
}

@media (max-width: 767px) {
	.blog-info-col {
		float: none;
		width: auto;
		text-align: left;
		margin-right: 20px;
	}

	.blog-info-date-container span {
		display: inline-block;
		font-size: 20px;
		line-height: auto;
	}

	.blog-info-col span {
		display: inline-block;
	}
}

.blog-content-col {
	width: 80%;
	float: right;
}

.blog-post-image {
	width: 240px;
	float: left;
	margin-right: 30px;
}

.blog-post-image img {
	width: 100%;
}
@media (max-width: 767px) {
	.blog-content-col {
		width: 100%;
		float: none;
	}
}
@media (max-width: 580px) {

	.blog-post-image {
		float: none;
	}
}

.share-blog {
	line-height: 35px;
	margin-top: 15px;
	position: relative;
}
.share-blog .btn {
	float: right;
}

/*single blog post*/

.blog-post-comment-row {
	overflow: hidden;
	border-bottom: 1px solid #ccc;
	margin-bottom: 20px;
	padding-bottom: 10px;
}

.single-blog-post-image {
	width: 100%;
}

.single-blog-post-image img {
	width: 100%;
}

.single-blog-info.blog-info-col {
	margin-top: 10px;
} 


.blog-post-avatar {
}

.blog-post-avatar img {
	width: 90px;
	float: left;
	margin-right: 10px;
}

.comment-rate span {
	margin-right: 10px;
}