.shortcodes {
	margin-top: 75px;
}
.shortcodes-title {
	margin: 20px 0;
	padding: 10px 0;
	text-align: center;
}

.border-green { border: 2px solid #1fbba6; }
.border-blue { border: 2px solid #00b2dd; }
.border-orange { border: 2px solid #f15a22; }

.btn-impactus-green { background-color: #1fbba6; }
.btn-impactus-green { color: #fff;}
.btn-impactus-green:hover { 
	color: #fff;
	opacity: 0.8;
}
.btn-impactus-blue { background-color: #00b2dd; }
.btn-impactus-blue { color: #fff;}
.btn-impactus-blue:hover { 
	color: #fff;
	opacity: 0.8;
}
.btn-impactus-gray { background-color: #d1d1d1; }
.btn-impactus-gray { color: #333;}
.btn-impactus-gray:hover { 
	color: #333;
	opacity: 0.8;
}
.btn-impactus-black { background-color: #1B1F24; }
.btn-impactus-black { color:  #1fbba6;}
.btn-impactus-black:hover { 
	color: #1fbba6;
	opacity: 0.8;
}
.btn-impactus-orange { background-color: #f15a22; }
.btn-impactus-orange { color: #fff;}
.btn-impactus-orange:hover { 
	color: #fff;
	opacity: 0.8;
}

.heading-impactus-green { 
	background-color: #1fbba6;
	color: #fff;
}
.heading-impactus-blue { 
	background-color: #00b2dd;
	color: #fff;
}
.heading-impactus-black { 
	background-color: #1B1F24;
	color: #1fbba6;
}

.heading-impactus-orange { 
	background-color: #f15a22;
	color: #fff;
}

.alert-message {
    margin: 20px 0;
    padding: 20px;
    border-left: 3px solid #eee;
}

.alert-message h4 {
    margin-top: 0;
    margin-bottom: 5px;
}

.alert-message p:last-child {
    margin-bottom: 0;
}

.alert-message code {
    background-color: #fff;
    border-radius: 3px;
}

.box-message-impactus-green {
    background-color: #EFF9C8;
    border-color: #1fbba6;
}

.box-message-impactus-green h4 {
    color: #1fbba6;
}

.box-message-impactus-blue {
    background-color: #EFF4FB;
    border-color: #00b2dd;
}

.box-message-impactus-blue h4 {
    color: #00b2dd;
}

.box-message-impactus-gray {
    background-color: #f1f1f1;
    border-color: #717171;
}

.box-message-impactus-gray h4 {
    color: #717171;
}

.box-message-impactus-orange {
    background-color: #fdf7f7;
    border-color: #f15a22;
}

.box-message-impactus-orange h4 {
    color: #f15a22;
}

.alert-impactus-green {
	border: 1px solid #1fbba6;
	background-color: #EFF9C8;
	color: #81933E;
}
.alert-impactus-blue {
	border: 1px solid #00b2dd;
	background-color: #EFF4FB;
	color: #5D7595;
}
.alert-impactus-orange {
	border: 1px solid #f15a22;
	background-color: #fdf7f7;
	color: #f15a22;
}

.progress-bar-impactus-green { background-color: #1fbba6; }
.progress-bar-impactus-blue { background-color: #00b2dd; }
.progress-bar-impactus-orange { background-color: #f15a22; }

.pagination-impactus-green li > a {
	background-color: #EFF9C8;
	color: black;
}
.pagination-impactus-green li.active a,
.pagination-impactus-green li.active a:hover {
	background-color: #1fbba6;
	border-color: #1fbba6;
}
.pagination-impactus-green li > a:hover {
	background-color: #d7f4f0;
	color: #1B1F24;
}

.pagination-impactus-blue li > a {
	background-color: #EFF4FB;
	color: black;
}
.pagination-impactus-blue li.active a,
.pagination-impactus-blue li.active a:hover {
	background-color: #00b2dd;
	border-color: #00b2dd;
}
.pagination-impactus-blue li > a:hover {
	background-color: #D0DCEC;
	color: #1B1F24;
}

.pagination-impactus-black li > a {
	background-color: #1B1F24;
	color: #1fbba6;
	border: 1px solid #211F1F;
}
.pagination-impactus-black li.active a,
.pagination-impactus-black li.active a:hover {
	background-color: #1B1F24;
	border-color: #1B1F24;
	color: #1fbba6;
}
.pagination-impactus-black li > a:hover {
	background-color: #211F1F;
	color: #1fbba6;
}

.impactus-social {
	width: 40px;
	height: 40px;
	background-color: #dadada;
	color: #1B1F24;
	line-height: 40px;
	text-align: center;
	display: inline-block;
	font-size: 22px;
	margin-bottom: 10px;

	-webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
	-ms-transition: all 0.4s;
	-o-transition: all 0.4s;
	transition: all 0.4s;
}

.impactus-social:hover {
	color: #fff;
}

.impactus-social.facebook:hover { background: #4b6ea8; }
.impactus-social.twitter:hover { background: #4fd5f8; }
.impactus-social.linkedin:hover { background: #0189c3; }
.impactus-social.skype:hover { background: #00bbf0; }
.impactus-social.google-plus:hover { background: #da2200; }
.impactus-social.apple:hover { background: #404040; }
.impactus-social.windows:hover { background: #0063f4; }


.nav-tabs-impactus-green.nav-tabs { border-bottom: 1px solid #d7f4f0; }
.nav-tabs-impactus-black.nav-tabs { border-bottom: 1px solid #1B1F24; }
.nav-tabs-impactus-blue.nav-tabs { border-bottom: 1px solid #00b2dd; }

.nav-tabs-impactus-green.nav-tabs > li > a {
	color: #1B1F24;
	border: none;
	margin-bottom: 15px;
	border-radius: 0px;
}
.nav-tabs-impactus-black.nav-tabs > li > a {
	color: #1fbba6;
	border: none;
	margin-bottom: 15px;
	border-radius: 0px;
}
.nav-tabs-impactus-blue.nav-tabs > li > a {
	color: #1B1F24;
	border: none;
	margin-bottom: 15px;
	border-radius: 0px;
}

.nav-tabs-impactus-green.nav-tabs > li > a:hover {
	background-color: #f1f1f1;
	border: none;
	border-radius: 0px;
}
.nav-tabs-impactus-black.nav-tabs > li > a:hover {
	background-color: #1B1F24;
	color: #d7f4f0;
}
.nav-tabs-impactus-blue.nav-tabs > li > a:hover {
	background-color: #00b2dd;
	color: #fff;
	border-bottom: 1px solid #00b2dd;
}

.nav-tabs-impactus-green.nav-tabs > li.active > a, .nav-tabs-impactus-green.nav-tabs > li.active > a:hover, .nav-tabs-impactus-green.nav-tabs > li.active > a:focus {
	background-color:  #d1d1d1;
	color: #000;
	border: none;
	margin-bottom: 15px;
	border-radius: 0px;
}
.nav-tabs-impactus-black.nav-tabs > li.active > a, .nav-tabs-impactus-black.nav-tabs > li.active > a:hover, .nav-tabs-impactus-black.nav-tabs > li.active > a:focus {
	background-color:  #1B1F24;
	color: #1fbba6;
}
.nav-tabs-impactus-blue.nav-tabs > li.active > a, .nav-tabs-impactus-blue.nav-tabs > li.active > a:hover, .nav-tabs-impactus-blue.nav-tabs > li.active > a:focus {
	background-color: #00b2dd;
	color: #fff;
}

.tab-pane { padding: 10px 5px; }
.tab-pane-impactus-green h3 { color: #1fbba6; }
.tab-pane-impactus-black h3 { color: #1B1F24; }
.tab-pane-impactus-blue h3 { color: #1B1F24; }


.panel-default > .panel-heading-impactus-green {
	background-color: #1fbba6;
}

.panel-heading-impactus-green a {
	color: #fff;
	opacity: 0.8;	
}

.panel-heading-impactus-green a:hover {
	color: #fff;
	opacity: 1;
}

.panel-default > .panel-heading-impactus-black {
	background-color: #1B1F24;
}

.panel-heading-impactus-black a {
	color: #1fbba6;
	opacity: 0.8;
}

.panel-heading-impactus-black a:hover {
	color: #1fbba6;
	opacity: 1;
}

.panel-default > .panel-heading-impactus-blue {
	background-color: #00b2dd;
}

.panel-heading-impactus-blue a {
	color: #fff;
	opacity: 0.8;
}

.panel-heading-impactus-blue a:hover {
	color: #fff;
	opacity: 1;
}

/*carousel*/

.impactus-slider-holder {
	overflow: hidden;
	max-width: 100%;
	margin: 0 auto;
	padding-top: 70px;
	background-color: #ddd;
}

.text-impactus-slider {
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	text-align: center;
	font-size: 24px;
	text-transform: none;
	text-shadow: 1px 1px 2px #1B1F24;
}

.impactus-slider-holder .carousel-inner > .active {
    margin: 0;
    padding: 0;
}

.impactus-slider-holder .carousel-inner .item {
	width: 100%;
}

.impactus-slider-holder .carousel-control.left {
	background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 0px, rgba(255, 255, 255, 0) 100%);
	filter: none;
	opacity: 1;

	position: absolute;
	left: 0;
	display: block;
	background-image: url(../images/testimonial-arrow-left.png);
	background-size: 19px 28px;
	height: 28px;
	width: 19px;
}

.impactus-slider-holder .carousel-control.right {
	background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 0px, rgba(255, 255, 255, 0) 100%);
	filter: none;
	opacity: 1;
	
	position: absolute;
	right: 0;
	display: block;
	background-image: url(../images/testimonial-arrow-right.png);
	background-size: 19px 28px;
	height: 28px;
	width: 19px;

}

.impactus-slider-controls {
	position: relative;
	width: 110px;
	height: 50px;
	margin: 0 auto;
}

.impactus-slider-controls i {
	font-size: 30px;
}
